<div class="background">
  <div class="container">
    <div class="shrinkDivL">
      <mat-card class="cardman">
        <mat-card-title class="slogantop">About Me</mat-card-title>
        <mat-card-content>
          <p class="bodybig">
            Hello! I'm Greg.
          </p>
          <p class="bodysmall">
            I've spent my life entranced by new technology, music, and good coffee.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="shrinkDivR">
      <img class = "profileimg" src="../assets/ProfilePic.JPG" alt="image">
    </div>
  </div>
</div>
