<div class="background">
  <div class="container">
    <div class="shrinkDivL">
      <mat-card class="cardman">
        <mat-card-title class="slogantop">About Me</mat-card-title>
        <mat-card-content>
          <p class="bodybig">
            Hello! I'm Greg.
          </p>
          <p class="bodysmall">
            I've spent my life entranced by new technology, music, and good coffee.
            As a 3rd year Computer Science and Economics Dual Major life is busy. Real busy.
            This blog is intended to document my thoughts on technology and review local
            coffee shops that I visit.
          <p class="bodybig">
            What does Greg do?
          </p>
          <p class="bodysmall">
            When I'm not coding, I'm probably playing music.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="shrinkDivR">
      <img class = "profileimg" src="../assets/ProfilePic.JPG" alt="image">
    </div>
  </div>
</div>
