.space{
  flex: 1 1 auto;
}


.logo{
  color: antiquewhite;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}

.buttonlogo{
  color: antiquewhite;
  font-family: 'Courier New', Courier, monospace;
}
